h1{
    color:red;
}
body[id="varumo"] {
    background-color: rgb(122, 194, 194);
}
#number{
    color: blue;
    background-color: cornsilk;
}
#digits{
    color: darkgreen;
}
li{
    color: darksalmon;
}